

<% if @live_menu.first.to_s == "Happy Hour" %>
  <%= render 'menus/partials_menu_sections/happyhour_menu' %>
  <br>
  <div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center
  ">
    <div class="tit2 t-center">  
      Dinner
    </div>
  </div>
</div>
<% elsif @specific_menu.nil? %>
  <div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center
  ">
    <div class="tit2 t-center">  
      <%=  @live_menu %>
    </div>
  </div>
</div>
<% else %>
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center
  ">
    <div class="tit2 t-center">  
      <%=  @specific_menu %>
    </div>
  </div>
</div>
<% end %>

  <!-- Starters menu -->
  <section class="section-mainmenu p-t-110 p-b-70 bg1-pattern">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-lg-6 p-r-35 p-r-15-lg m-l-r-auto">
          <div class="wrap-item-mainmenu p-b-22">
            <h3 class="tit-mainmenu tit10 p-b-25">
              STARTERS
            </h3>
            <br>

            <% @menu_items.each do |item| %>
                <% if item.section ==  "Starters" && item.menu_type != "Happyhour" %>
                <!-- Item mainmenu -->
                <div class="item-mainmenu m-b-36">
                  <div class="flex-w flex-b m-b-3">
                    <a href="#" class="name-item-mainmenu txt20">
                      <%= item.name %>
                    </a>
                    <div class="line-item-mainmenu bg3-pattern"></div>
                    <div class="price-item-mainmenu txt22">
                      <%= number_to_currency item.price%>  
                    </div>
                  </div>
                  <span class="info-item-mainmenu txt23">
                    <%= item.description %>
                  </span>

                  <% if User.is_admin?(current_user) %>
                   <%= link_to "Edit Item", edit_menu_item_path(item), class: "btn btn-sm btn-primary" %>
                  <% elsif  @live_menu.include?(@specific_menu) %>
                    <% if item.availability == false %>
                      <div class="d-inline p-2 bg-primary text-white text-center">ITEM NOT AVAILABLE AT THIS TIME!</div>
                    <% elsif item.menu_type != "Happyhour" %>
                      <p><%= button_to "Add to Cart", "#", class: "btn b&&-sm btn-primary"  %></p>
                    <% end %>
                  <% end %>

              <% end %>
            <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
<% if @live_menu != "Happy Hour" && @specific_menu.to_s != "Happy Hour"  %>
  <%= render 'menus/partials_menu_sections/classics_row'  %>
<% end %>



            

           





    
  


   
