<!-- Dishes menu -->
  <section class="section-mainmenu p-t-110 p-b-70 bg1-pattern">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-lg-6 p-r-35 p-r-15-lg m-l-r-auto">
          <div class="wrap-item-mainmenu p-b-22">
            <h3 class="tit-mainmenu tit10 p-b-25">
              DISHES
            </h3>
            <br>

            <% @menus.each do |item| %>
            <% if item.section == "Dishes" %>
            <!-- Item mainmenu -->
            <div class="item-mainmenu m-b-36">
              <div class="flex-w flex-b m-b-3">
                <a href="#" class="name-item-mainmenu txt20">
                  <%= item.name %>
                </a>

                <div class="line-item-mainmenu bg3-pattern"></div>

                <div class="price-item-mainmenu txt22">
                  <%= number_to_currency item.price%>
                  
                </div>
              </div>

              <span class="info-item-mainmenu txt23">
                <%= item.description %>
              </span>
              <%= link_to "Edit Item", edit_menu_item_path(item), class: "btn btn-sm btn-primary" %>
              <%= link_to "Delete Item", item, method: :delete,
                                  data: { confirm: "You sure?" }, class: "btn btn-sm btn-primary" %>

            <% end %>
            <% end %>
            
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <%= render 'menus/partials_menu_sections_for_admin/alacarte_row' %>  

         